@model HospitalSystem.Models.LogOnModel
@{
    ViewBag.Title = "登录";
}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6">
            <div class="container-fluid">
                <div class="row-fluid">

                    <div class="hero-unit">
                        <h1>Hello!~
                        </h1>
                        <br>
                        <p>
                            上海交通大学医学院附属瑞金医院建于1907年，是一所三级甲等大型综合性教学医院。医院占地面积12万平方米，建筑面积24.5万平方米，核定床位1600张，全院职工3445人，其中医师1010余人(其中正副教授及各类高级科技人员593人)。
                        </p>
                        <p>
                            
                            <button class="btn btn-primary btn-large" type="button">参看更多</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="span6">
            <h2>登录</h2>

            <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

            @Html.ValidationSummary(true, "登录不成功。请更正错误并重试。")

            @using (Html.BeginForm())
            {
                <div>
                    <fieldset>
                        <legend>帐户信息</legend>

                        <div class="editor-label">
                            @Html.LabelFor(m => m.UserName)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.UserName)
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(m => m.Password)
                        </div>
                        <div class="editor-field">
                            @Html.PasswordFor(m => m.Password)
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                        <br/>
                        <table class="nav nav-list well">
                            <tr>
                                <td>@Html.RadioButtonFor(m => m.Department, "医生")</td>
                                <td>医生</td>
                                <td>@Html.RadioButtonFor(m => m.Department, "检验")</td>
                                <td>检验</td>
                                <td>@Html.RadioButtonFor(m => m.Department, "挂号")</td>
                                <td>挂号</td>
                                <td>@Html.RadioButtonFor(m => m.Department, "收费")</td>
                                <td>收费</td>
                                <td>@Html.RadioButtonFor(m => m.Department, "护士台")</td>
                                <td>护士台</td>
                                <td>@Html.RadioButtonFor(m => m.Department, "药房")</td>
                                <td>药房</td>
                            </tr>
                        </table>
                        <br/>
                        <p>
                            <input class="btn btn-primary btn-large" type="submit" value="登录" />
                        </p>
                    </fieldset>
                </div>
            }
        </div>
    </div>
</div>
